Django==1.2.7
Pinax==0.9a2
django-email-confirmation==0.2.1
django-openid==2.2.5
django-pagination==1.0.7
django-uni-form==0.9.0
django-ajax-validation==0.1.4
django-timezones==0.2
django-announcements==0.1.5
django-flag==0.1.1
django-messages==0.4.1
django-notification==0.2.0
django-profiles==0.2
django-tribes==0.1.1
django-relationships==0.1.1
django-threadedcomments==0.9.0
django-wikis==0.1.1
django-avatar==1.0.4
django-tagging==0.3.1
django-photologue==2.6
django-swaps==0.1.1
django-friends==0.1.1
django-actstream==0.3.4
django-mailer==0.1.0
django-oembed==0.2.1
django-piston==0.2.3
django-tastypie==0.9.11 